alias resource="source ~/.zshrc"

# Directories
alias dev="cd ~/Development"
alias mkcd='_(){ mkdir $1; cd $1; }; _'

# Docker
alias dc="docker-compose"
alias dct="docker-compose -f docker-tests.yml"

# IP addresses
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="sudo ifconfig -a | grep -o 'inet6\\? \\(addr:\\)\\?\\s\\?\\(\\(\\([0-9]\\+\\.\\)\\{3\\}[0-9]\\+\\)\\|[a-fA-F0-9:]\\+\\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Lazy git
alias master="git checkout master && git pull"
alias staging="git checkout staging && git pull"
alias main="git checkout main && git pull"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

alias cfg="cd ~/.config/nvim"
alias dotfiles="cd ~/.dotfiles"
alias reload="source ~/.zshrc"

function toggle-key-repeat() {
    local current_setting=$(defaults read -g ApplePressAndHoldEnabled 2>/dev/null)

    if [[ $current_setting == "1" ]]; then
        defaults write -g ApplePressAndHoldEnabled -bool false
        echo "Press-and-hold disabled. Key repeat enabled."
    else
        defaults write -g ApplePressAndHoldEnabled -bool true
        echo "Press-and-hold enabled. Key repeat disabled."
    fi

    echo "Please log out and back in for changes to take effect."
}
alias togglekeys="toggle-key-repeat"
